ion-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  
  p {
    font-size: 18px;
    color: #8c8c8c;
    margin-bottom: 35px;
  }
  
  ion-button {
    width: 100%;
    max-width: 350px;
  
    --background: #26679f;
    --color: white;
    --border-radius: 12px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  ion-content {
    --background: url('/assets/backgrounds/Fondo_4.jpg') center;
  }