<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Objetos cercanos a la Tierra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

   <ion-card>
    <img src="https://placehold.co/600x400" alt="Objetos cercanos a la Tierra">

    <ion-card-header>
      <ion-card-title>Objetos cercanos a la Tierra</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Objetos cercanos a la Tierra de ejemplo.
    </ion-card-content>
  </ion-card>

</ion-content>